.body {
    background: #fff;
    /*rgb(45, 211, 111)*/
    height: 60vh;
    margin: 0;
}

.form-field {
    margin-bottom: 10px;
}

.error {
    color: #fff;
    background: red;
    display: none;
}

.input {
    padding: 10px;
    width: -webkit-fill-available;
    border: none;
    background: #DCDCDC;
}


.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnpositionHome {
    float: right;
    width: 50px;
    margin-right: 0%;
    height: 50px;
    text-align: right;
    margin-top: 1px;
}

.clearHome {
    color: white;
    border: none;
    background: transparent;
}

.divLeft {
    float: left;
    margin-top: 2%;
    margin-right: 10px;
    font-size: 12px;
}

.divRight {
    float: right;
    margin-top: 2%;
    margin-right: 10px;
    font-size: 10px;
}

.BemVindo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
    color: #22284c;
    font-weight: bold;
}

.datahorajogo {
    float: right;
    width: 150px;
    margin-right: 0%;
    text-align: center;
    position: fixed;
}

.topPagina {
    display: flex;
    height: 40hv;
    background: #ffffff;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 98, 5%;
    background: #faca54;
    padding: 10px;
}

.topPaginaPages {
    display: flex;
    height: 40hv;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 98, 5%;
    padding: 10px;
    color: white;
}

.InfoPartida {
    float: right;
    margin-right: 0;
    text-align: right;
    margin-top: 1px;
    position: fixed;
    font-size: 10px;
}

.loading {
    position: fixed;
    width: 90%;
    height: 100%;
}

.loading label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.topPaginaLoading {
    display: flex;
    height: 40%;
    background: #ffffff;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 90, 5%;
    padding: 10px;
}

.clear {
    color: #22284c;
    font-weight: bold;
    border: none;
    background: transparent;
}

.link_to_match {
    width: 5% !important
}

.imgRight {
    display: flex;
    align-items: right;
    float: right;
    position: relative;
    margin-top: 1%;
    margin-right: 2px;
    width: 20px;
    background: transparent;
}

.clear:active {
    background-color: white;
    border: 1px;
}

.solid {
    background: #fece56;
    border: none;
    color: #22284c;
    font-weight: bold;
}

.outline {
    background: transparent;
    color: #22284c;
    font-weight: bold;
    border: 1px solid white;
}

button:active {
    opacity: 0.3;
}

button:disabled {
    opacity: 0.7;
}

.time {
    display: block;
    align-items: center;
    float: right;
    position: relative;
    text-align: center;
    color: #22284c;
    font-size: 20px;
}

.palpite {
    display: block;
    font-size: 13px;
    color: green;
}