.body {
    background: white;
    /*rgb(45, 211, 111)*/
    height: 60vh;
    margin: 0;
}

.form-field {
    margin-bottom: 10px;
}

.error {
    color: white;
    background: red;
    display: none;
}

.input {
    padding: 10px;
    width: -webkit-fill-available;
    border: none;
    background: #DCDCDC;
}


.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BemVindo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
}

.topPagina {
    display: flex;
    height: 40hv;
    background: #ffffff;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 98, 5%;
    background: #faca54;
    padding: 10px;
}

.loading {
    position: fixed;
    width: 90%;
    height: 100%;
}

.loading label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.topPaginaLoading {
    display: flex;
    height: 40%;
    background: #ffffff;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 90, 5%;
    padding: 10px;
}

.clear {
    color: #22284c;
    border: none;
    background: transparent;
}

.clear:active {
    background-color: white;
    border: 1px;
}

.solid {
    background: #fece56;
    border: none;
    color: #22284c;
}

.outline {
    background: transparent;
    color: #22284c;
    border: 1px solid white;
}

button:active {
    opacity: 0.3;
}

button:disabled {
    opacity: 0.7;
}