.topPagina {
    display: flex;
    height: 40hv;
    background: #ffffff;
    justify-content: start;
    align-items: start;
    position: relative;
    width: 95%;
    background: #faca54;
    padding: 10px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: -webkit-fill-available;
}



form {
    width: 300px;
}



.input {
    padding: 10px;
    width: -webkit-fill-available;
    border: none;
    background: #DCDCDC;
}


input,
button {
    padding: 10x;
    width: -webkit-fill-available;
}